.table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
}

.img-thumbnail {
    max-width: 150px;
    max-height: 150px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-nav .dropdown-menu-end {
    right: 0;
    left: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin-right: 20px;
}